{
    "presets": ["react-native"],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        // ["importpc", { "libraryName": "antd", "style": true }],
        ["importmobile", { "libraryName": "antd-mobile", "style": true }]
    ]
}